@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Libre Caslon Display", serif; /* Titles */
  --font-body: "Nunito Sans", sans-serif; /* Normal text */

  /* Colors */
  --color-bg: #ffffff; /* Background */
  --color-button: #f5efe6; /* Button background */
  --color-olive: #767a3d; /* Campaign */
  --color-card: #f5f5f5; /* Product Cards */
  --color-footer: #343434; /* Background footer */
  --color-cta: #3f7d5f; /* CTA-buttons */
  --color-text: #343434; /* Text */
}
